body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

section {
    margin-bottom: 1.5em;
}

.toogle {
    display: block;
    margin: 1em 0;
    padding: 0.5em 1em;
}
img{
    width: 200px;
    height: 200px;
}